/*  컨텐츠 영역  */
.map_wrap{
	float: left;        
	width: 546px;
	margin-right: 14px;
}
.data_wrap{
	float: left;
	width: 1106px;
}
.left_wrap{
	float: left;
	width: 546px;
	margin-right: 14px;
}
.right_wrap{
	float: right;
	width: 546px;
}
.event_pro_status, .event_result, .event_grade, .event_res_history{
	float: left;
	width: 521px;
	height: 264px;
	background-color: #052237;
    border-top: 1px solid #1b2f3f;
    border-bottom: 1px solid #030b11;
    padding: 14px 0 14px 25px;
}
.event_pro_status{
    margin-bottom: 14px;
}
.event_result{
	float: left;
	width: 517px;
	padding: 14px 19px 14px 10px;
}
.event_grade{
	margin-bottom: 14px;
}
.fa_list_wrap{
    float: left;
	width: 1056px;
	height: 264px;
	background-color: #052237;
    border-top: 1px solid #1b2f3f;
    border-bottom: 1px solid #030b11;
    margin-top: 14px;
    padding: 14px 25px;
}

/*  공통요소  */
.con_tit{
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	color: #87aac7;
	letter-spacing: 1px;
	padding-bottom: 3px;
}
.table_tit{
	padding-bottom: 15px;
}
.select_link{
	position: relative;
	float: right;
    width: 72px;
    margin-top: -4px;
    z-index: 1;
}
.fa_list .select_link{
    margin-right: 21px;
}

/* selectric 스타일 */
.data_wrap .selectric{
	background-color: transparent;
	border: none;
}
.data_wrap .selectric .label {
    font-family: 'NanumSquareR';
    font-size: 12px;
    color: #87aac7;
    letter-spacing: 1px;
    height: 22px;
    line-height: 22px;
    padding-left: 6px;
    margin: 0;
}
.data_wrap .selectric .button {
    width: 12px;
    height: 12px;
    color: #d3e5f5;
    top: 5px;
    right: 5px;
}
.data_wrap .selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    border: none;
    background: url(../img/00_dropdown_arrow_down.png) no-repeat;
}
.data_wrap .selectric-items li {
    min-height: 0;
    font-family: 'NanumSquareB';
    font-size: 11px;
    line-height: 11px;
    color: #527c9e;
    display: block;
    padding: 6px 9px 5px;
    background-color: #083657;
}
.data_wrap .selectric-items li:hover{
	background-color: #072e4a;
	color: #527c9e;
}
.data_wrap .selectric-items li.highlighted, .data_wrap .selectric-items li.selected {
    background-color: #083657;
    color: #fff;
}
.data_wrap .selectric-items{
	border: none;
	box-shadow: none;
}

/*  지도  */
.map_header{
	height: 36px;
	background-color: rgba(255,255,255,.08);
}
.map_location{
	display: inline-block;
	font-family: 'NanumSquareR';
	font-size: 12px;
	line-height: 36px;
	color: #567894;
	padding-left: 46px;
	background: url(../../common/img/00_title_map_icon.png) no-repeat 27px 12px;
}
.map{
	position: relative;
	height: 874px;
	border: 1px solid #003758;
	box-sizing: border-box;
}
.map .legend{
	position: absolute;
	top: 25px;
	right: 25px;
	width: 96px;
	height: 158px;
	background-color: rgba(0,0,0,.85);
}
.map .legend ul{
	width: 55px;
	height: 112px;
	margin: 0 auto;
	padding: 23px 0 24px;
}
.map .legend li{
	font-family: 'NanumSquareR';
	font-size: 12px;
	color: #8fabbf;
	padding-left: 22px;
	margin-bottom: 8px
}

/*  이벤트 등록 및 처리 현황  */
.pie_chart{
	overflow: hidden;
	height: 254px;
}
.pie_chart li{
	float: left;
	width: 200px;
	height: 76px;
	padding: 26px 25px 25px 22px;
}
.pie_chart .graph_area{
	float: left;
	width: 75px;
	height: 75px;
	margin-right: 20px;
}
.pie_chart .graph_info{
	float: left;
	width: 104px;
}
.pie_chart .graph_tit{
	display: block;
	font-family: 'NanumSquareL';
	font-size: 18px;
    line-height: 18px;
	color: #e5e5e5;
	letter-spacing: 1px;
	padding-bottom: 10px;
	border-bottom: 1px solid #0c3857;
}
.graph_status dl{
	color: #fff;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 0.5px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0 4px 0 3px;
}
.graph_status dt{
	float: left;
	width: 30px;
}
.graph_status dd{
	float: left;
}
.graph_status .red{
	color: #fa555d;
}
.graph_status .yellow{
	color: #f0bd56;
}
.graph_status .mint{
	color: #26c6a2;
}
.graph_status .middot{
	color: #114061;
	padding: 0 5px;
}

.highcharts-background{ 
	display: none;
}

.pie_chart .highcharts-point.highcharts-color-0,
.pie_chart .highcharts-legend-item.highcharts-color-0 .highcharts-point,
.pie_chart .highcharts-tooltip .highcharts-color-0 {
	fill: #f0bd56;
}
.pie_chart .highcharts-point.highcharts-color-1,
.pie_chart .highcharts-legend-item.highcharts-color-1 .highcharts-point,
.pie_chart .highcharts-tooltip .highcharts-color-1 {
	fill: #26c6a2;
}
.pie_chart .highcharts-point.highcharts-color-2,
.pie_chart .highcharts-legend-item.highcharts-color-2 .highcharts-point,
.pie_chart .highcharts-tooltip .highcharts-color-2 {
	fill: #fa555d;
}

/*차트 4개 이상일때*/
.pie_chart .mCSB_scrollTools{
    width: 26px;
}
.pie_chart .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 7px;
    border-radius: 2px;
    background-color: #47637a;
}
.pie_chart .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #183954;
}

/*case01*/
.pie_chart.case01 li{
	width: 494px;
	height: 254px;
	padding: 43px 62px 43px 60px;
	box-sizing: border-box;
}
.pie_chart.case01 .graph_area{
	width: 168px;
	height: 168px;
    margin-right: 40px;
}
.pie_chart.case01 .graph_tit{
	position: relative;
    font-size: 30px;
    line-height: 30px;
    padding: 0 0 14px 8px;
}
.pie_chart.case01 .graph_tit:after{
	content: '';
	position: absolute;
	top: -18px;
	right: 8px;
	width: 60px;
	height: 60px;
	display: inline-block;
}
.pie_chart.case01 .graph_tit.bridge:after{
	background: url(../img/02_statistics_icon_facility_001_bridge.png) no-repeat;
}
.pie_chart.case01 .graph_tit.parking:after{
	background: url(../img/02_statistics_icon_facility_002_parking.png) no-repeat;
}
.pie_chart.case01 .graph_tit.tunnel:after{
	background: url(../img/02_statistics_icon_facility_003_tunnel.png) no-repeat;
}
.pie_chart.case01 .graph_tit.construction:after{
	background: url(../img/02_statistics_icon_facility_004_construction.png) no-repeat;
}
.pie_chart.case01 .graph_tit.school:after{
	background: url(../img/02_statistics_icon_facility_005_school.png) no-repeat;
}
.pie_chart.case01 .graph_info{
	width: 164px;
    margin-top: 20px;
}
.case01 .graph_status dl{
	font-size: 16px;
    line-height: 16px;
    margin-top: 11px;
}
.case01 .graph_status dl:first-child{
	margin-top: 17px;
}
.case01 .graph_status dt{
	width: 46px;
}

/*case02*/
.pie_chart.case02 li{
	width: 247px;
	height: 254px;
	padding: 19px 62px;
	box-sizing: border-box;
}
.pie_chart.case02 .graph_area{
	width: 113px;
	height: 113px;
    margin-right: 0;
}
.pie_chart.case02 .graph_tit{
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	margin-top: 18px;
	border-bottom: none;
}
.pie_chart.case02 .graph_info{
	width: 113px;
}
.case02 .graph_status dl{
	font-size: 13px;
	line-height: 13px;
	padding: 0;
}
.case02 .graph_status dt {
    width: 37px;
}
.case02 .graph_status .middot{
	letter-spacing: 0;
}

/*  이벤트 발생 현황  */
.event_result .con_header{
	position: relative;
}
.event_result .con_tit{
	padding-bottom: 8px;
	padding-left: 15px;
}
.event_result .graph_area{
	position: relative;
	float: left;
	width: 510px;
	height: 244px;
}
.event_result .highcharts-point-hover{
	fill: #072e51;
}
.event_result .highcharts-point.highcharts-color-0,
.event_result .highcharts-legend-item.highcharts-color-0 .highcharts-point,
.event_result .highcharts-tooltip .highcharts-color-0 {
	fill: #124894;
}
.event_result .select_period{
	position: absolute;
	top: 23px;
	left: 16px;
	border: 1px solid #1065c7;
	border-radius: 2px;
	overflow: hidden;
	z-index: 1;
}
.event_result .select_period li{
	float: left;
	width: 28px;
	height: 22px;
	border-right: 1px solid #1065c7;
}
.event_result .select_period li:last-child{
	border-right: none;
}
.event_result .select_period .active{
	background-color: #1272e0;
	color: #fff;
}
.event_result .select_period button{
    width: 28px;
	font-size: 11px;
	line-height: 22px;
	color: #6d9cd1;
	background-color: #0c4b94;
	cursor: pointer;
}

/*  이벤트 등급별 통계  */
.event_grade .con_tit{
	padding-bottom: 15px;
}
.event_grade .graph_area{
	float: left;
	width: 494px;
	height: 238px;
}
.highcharts-grid-line{
	stroke: #072b45;
}
.highcharts-tick{
	display: none;
}
.highcharts-axis-line{
	stroke: #072b45;
	stroke-width: 2;
}
.event_grade .highcharts-axis-labels{
	color: #315b7d;
}
.event_grade .highcharts-point.highcharts-color-0,
.event_grade .highcharts-legend-item.highcharts-color-0 .highcharts-point,
.event_grade .highcharts-tooltip .highcharts-color-0 {
	fill: #0fb3ba;
}
.event_grade .highcharts-point.highcharts-color-1,
.event_grade .highcharts-legend-item.highcharts-color-1 .highcharts-point,
.event_grade .highcharts-tooltip .highcharts-color-1 {
	fill: #ffa669;
}
.event_grade .highcharts-point.highcharts-color-2,
.event_grade .highcharts-legend-item.highcharts-color-2 .highcharts-point,
.event_grade .highcharts-tooltip .highcharts-color-2 {
	fill: #fa4953;
}
.event_grade .highcharts-point.highcharts-color-3,
.event_grade .highcharts-legend-item.highcharts-color-3 .highcharts-point,
.event_grade .highcharts-tooltip .highcharts-color-3 {
	fill: #ba2b96;
}
.event_grade .highcharts-crosshair.highcharts-crosshair-category.undefined{
	visibility: hidden;
}
.highcharts-data-labels.highcharts-series-0.highcharts-column-series.highcharts-color-0.highcharts-tracker tspan{
	fill: #0fb3ba;
}
.highcharts-data-labels.highcharts-series-1.highcharts-column-series.highcharts-color-1.highcharts-tracker tspan{
	fill: #ffa669;
}
.highcharts-data-labels.highcharts-series-2.highcharts-column-series.highcharts-color-2.highcharts-tracker tspan{
	fill: #fa4953;
}
.highcharts-data-labels.highcharts-series-3.highcharts-column-series.highcharts-color-3.highcharts-tracker tspan{
	fill: #ba2b96;
}